* {
    box-sizing: border-box;
}
*::before, *::after, *:after, *:before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f4f8f9;
    font-family: 'Roboto';
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    border: none;
    color: inherit;
}

i {
    cursor: pointer;
}

.container{
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.navbar {
    padding: 0 50px;
    display: flex;
/*    justify-content: space-between;*/
    align-items: center;

    color: #78909C;
    margin-top: 20px;
    background-color: #fefefe;
    font-size: 18px;
    height: 80px;
}

    .navbar__search-wrapper, .navbar__profile, .navbar__sections{
        flex: 0  0 33.333%;
    }

    .dropdown {
        position: absolute;
        display: none;
        padding: 15px;
        margin-top: 20px;
        background-color: white;
        top: 34px;
        box-shadow: 5px 22px 134px -62px rgba(0,0,0,1);
    }

    /*SEARCHBAR*/

    .navbar__search-bar {
        position: relative;
        display: flex;
        align-items: center;
        width: 70%;
    }

        .search-bar__input {
            border: none;
            height: 30px;
            font-family: inherit;
            font-size: 16px;
            padding-left: 10px;
        }

            .search-bar__input:focus {
                outline: none;
            }

            .search-bar__input::placeholder {
                color: #b2bfc6;
            }

        .search-bar__filter-icon {
            position: absolute;
            right: 0;
            visibility: hidden;
        }

        .search-bar__advanced-search {
            width: 334px;
            position: absolute;
            display: none;
            padding: 20px;
            background-color: white;
            top: 56px;
            box-shadow: 5px 22px 134px -62px rgba(0,0,0,1);
        }
            .option__option-box {
                display: flex;
                align-items: center;
                justify-items: center;
                height: 20px;
                width: 20px;
                margin-right: 10px;
                border: 2px solid #CFD8DC;
                border-radius: 3px;
            }

                .box-checked {
                    border-color: #11A0F8;
                    background-color: #11A0F8;
                }

                .material-icons.option__option-box_checked {
                    font-size: 16px;
                    visibility: hidden;
                    color: white;
                }

                .option__option-box_checked.checked {
                    visibility: visible;
                }

                .p-checked {
                    color: #11A0F8;
                }

                .search-bar__advanced-search .advanced-search__option {
                    margin-bottom: 10px;
                }

                .advanced-search__option {
                    margin-right: 15px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                .advanced-search__option label {
                    padding-left: 7px;
                }

    /*SECTIONS*/

    .navbar__sections{
        display: flex;
        justify-content: center;
    }

    .sections__menu {
        top: 80px;
        padding: 0;
    }

    .menu__section{
        cursor: pointer;
        text-decoration: none;
        display: block;
        padding: 17px 135px 17px 35px;
        color: black;
    }
        .menu__section:hover{
            background-color: rgba(244, 248, 249, 0.7);
        }
        .menu__section:nth-of-type(1):hover{
            color: #7460ee;
        }
        .menu__section:nth-of-type(2):hover{
            color: #11a0f8;
        }
        .menu__section:nth-of-type(3):hover{
            color: #ffbb44;
        }
        .menu__section:nth-of-type(4):hover{
            color: #f33155;
        }
        .menu__section:nth-of-type(5):hover{
            color: #7ace4c;
        }

        .sections__view-module_Green{
            color: #7ace4c;
        }
        .sections__view-module_Blue{
            color: #11a0f8;
        }
        .sections__view-module_Orange{
            color: #ffbb44;
        }
        .sections__view-module_Magenta{
            color: #f33155;
        }
        .sections__view-module_Violet{
            color: #7460ee;
        }

        .section__icon {
            vertical-align: middle;
            padding: 0px 10px 0px 5px;
        }


    /*PROFILE BAR*/

    .navbar__profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar__profile > * {
        margin-left: 20px;
    }

    .profile__add-options {
        margin: 0;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

        .add-options__add-text {
            margin-left: 10px;
        }

        .add-options__add {
            position: absolute;
            top: 50px;
            left: -50px;
            display: none;
            width: 220px;
            color: black;
            background-color: #fff;
            padding-bottom: 20px;
            box-shadow: 5px 22px 134px -62px rgba(0,0,0,1);
        }

        .add-option {
            display: block;
            padding: 10px 70px 10px 40px;
        }

        .add-option:hover {
            background-color: #F1F9EC;
            color: #A0DD84;
        }

    .profile__user {
        display: flex;
    }

        .user__avatar {
            width: 30px;
            height: 30px;
            margin-right: 5px;
            cursor: pointer;
    }

        .user__options{
            background-color: #fefefe;
            display: none;
            position: absolute;
            width: 280px;
            color: black;
            padding: 10px 40px 40px;
            top: 100px;
            right: 10%;
            box-shadow: 5px 22px 134px -62px rgba(0,0,0,1);
        }

            .options__text{
                padding-top: 20px;
            }

            .textmail{
                color: #849aa5;
            }

            .options__text:nth-of-type(2), .options__text:nth-of-type(4){
                border-bottom: 1px solid #eaeeef;
            }

            .options__text:nth-of-type(2){
                padding: 10px 0px 15px;
            }

            .options__text:nth-of-type(4){
                padding: 20px 0px 15px;
            }

            .fa-circle{
                color: #7bcf4b;
                margin-right: 10px;
                font-size: 14px;
            }

            .text__download{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 20px;
            }
                .download__arrow{
                    color: #78909C;
                }


.becomeVisible {
    display: flex;
}

.becomeBlock {
    display: block;
}

.becomeBlue{
    color: #11a0f8;
}

.becomeGreen {
    color: #7ACE4C;
}
