* {
    box-sizing: border-box;
}
*::before, *::after, *:after, *:before {
    box-sizing: border-box;
}

.becomeVisible {
    display: flex;
}

.becomeBlue{
    color: #11a0f8;
}
/*
.material-icons{
    align-self: center;
}*/

body{
    margin: 0;
    padding: 0;
    background-color: #f4f8f9;
    font-family: 'Roboto';
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    border: none;
    color: inherit;
}

.container{
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.navbar {
    padding: 0 50px;
    display: flex;
/*    justify-content: space-between;*/
    align-items: center;

    color: #78909C;
    margin-top: 20px;
    background-color: #fefefe;
    font-size: 18px;
    height: 80px;
}

.searchbar, .profile, .center{
    flex: 0  0 33.333%;
}

/*SEARCHBAR*/

.searchbar {
    width: 300px;
    display: flex;
    align-items: center;
    position: relative;
}

.searchbar > * {
    margin-right: 10px;
}

    .searchbar__input {
        border: none;
        height: 30px;
    }

    .searchbar__input:focus {
        outline: none;
    }

    .searchbar__dropdown {
        position: absolute;
        display: flex;
        padding: 20px;
        background-color: white;
        top: 55px;
        box-shadow: 5px 22px 134px -62px rgba(0,0,0,1);
    }
        .option-box {
            display: flex;
            align-items: center;
            justify-items: center;
            height: 20px;
            width: 20px;
            margin-right: 10px;
            border: 2px solid #CFD8DC;
            border-radius: 3px;
        }

        .box-checked {
            border-color: #11A0F8;
            background-color: #11A0F8;
        }
        .material-icons.tick {
            display: none;
            color: white;
            font-size: 16px;
        }

        .material-icons.tick.checked {
            display: block;
        }

        .p-checked {
            color: #11A0F8;
        }

        .searchbar__dropdown .option {
            margin-bottom: 10px;
        }

        .option {
            margin-right: 15px;
            display: flex;
            align-items: center;
        }

        .option label {
            padding-left: 7px;
        }

/*CENTER*/

.center{
    display: flex;
    justify-content: center;
}


/*PROFILE BAR*/

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile > * {
    margin-left: 20px;
}

.profile__panel {
    display: flex;
    align-items: center;
    margin: 0;
}

    .profile__panel .add {
        margin-left: 10px;
    }

.logout {
    display: flex;
}

    .profile__avatar {
        width: 28px;
        height: 28px;
}
