* {
    box-sizing: border-box;
}
*::before, *::after, *:after, *:before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f4f8f9;
    font-family: 'Roboto';
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    border: none;
    color: inherit;
}

.container{
    padding: 0px 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.headingText, .mainText{
    color: #212e35;
}

.headingText{
    font-size: 50px;
    letter-spacing: 1px;
    padding-top: 50px;
    font-weight: 300;
}

.mainText{
    font-size: 16px;
    padding-top: 15px;
}

.navBar{
    color: #91a6b0;
}

.navBarHeader{
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 40px;
    font-weight: 700;
}

.navBarMain{
    margin-top: 10px;
    background-color: #fefefe;
    font-size: 20px; 
    width: 100%;
    height: 80px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between; 
    align-items: center;
}

.search{
    padding-left: 50px;
    display: flex;
    justify-content: center;
}

.mainSearch{
    border: none;
    height: 30px;
}

/*
input::placeholder{
    color: #c8d1d6;
}
*/

.viewModule{
    color: #7560ef;
}

.profile{
    display: flex;
    flex-direction: row;
    padding-right: 50px;
}


/*???????????????????????????????*/
/*
.profile:not(:first-of-type){
    padding-left: 10px;
}
*/

.avatar{
    background: url("Android_Wear_92x.png");
    width: 25px;
    height: 25px;
    background-size: cover;
}
